.vertical-header:has(.flex-direction-row) {
  display: flex;
  flex-direction: row-reverse;
  max-width: 72.5rem;
  margin: 2.25rem auto 4rem;
  border: 2px solid var(--border);
}

.pagetop.flex-direction-row {
  border: none;
}

main header {
  max-width: 50%;
  border-right: 2px solid var(--border);
  padding: 2.25rem 2.25rem 1.5rem;
}

.article-wrapper .author {
  margin-top: auto !important;
}

@media screen and (max-width: 768px) {
  .vertical-header:has(.flex-direction-row) {
    display: block;
    margin: 1rem auto 1.75rem;
    border: none;
  }

  .pagetop.flex-direction-row {
    border: 2px solid var(--border);
  }

  main header {
    max-width: none;
    border-right: none;
    padding: 1.5rem 1.25rem 0.5rem;
  }

  .article-wrapper .author {
    margin-top: 0.75rem !important;
  }
}
